/*
TEAM 1 GROUP C
CREATED BY: Justin Si, 2014-06-30
MODIFIED BY: Justin Si
LAST MODIFIED: 2014-07-26

TODO:

*/

.gC_submitQuestionGroup {
	padding-bottom: 10px;
	margin-left: 680px;
}

.gC_questionContainer {
	width: 500px;
	word-wrap: break-word;
}

#gC_answer {
	width: 350px;
}

  .axis path, .axis line {
            fill: none;
            stroke: black;
            shape-rendering: crispEdges;
        }
        .axis path{
            fill: none;
            stroke: none;
        }
        .bar {
            fill: steelblue;
        }
