<div class="form">
    <form class="form-horizontal" role="form">
      <fieldset>
          <div class="form-group">
              <label>Quiz Name: </label>
              <input type="text" ng-model="quizData.name" /><br />
          </div>
          <div class="form-group">
              <label >Quiz Total: </label>
              <input type="number" ng-model="quizData.total" /><br />
          </div>
          <div class="form-group">
              <label >Quiz Due: </label>
              <input type="date" ng-model="quizData.due" /><br />
          </div>

          <div class="form-group">
              <label >Question 1: </label><input type="text" required ng-model="quizData.question1.text"><br>
              <label >Question Worth:</label><input type='number' ng-model="quizData.question1.worth"><br>
              <input type='radio' ng-model="quizData.question1.answer" value="choice1"/>
              <label >Choice 1:</label>
              <input type='text' ng-model="quizData.question1.choice1.text"/><br>
              <input type='radio' ng-model="quizData.question1.answer" value="choice2" />
              <label >Choice 2:</label>
              <input type='text'  ng-model="quizData.question1.choice2.text"/><br>
              <input type='radio' ng-model="quizData.question1.answer" value="choice3" />
              <label >Choice 3:</label>
              <input type='text'  ng-model="quizData.question1.choice3.text"/><br>
              <input type='radio' ng-model="quizData.question1.answer" value="choice4" />
              <label >Choice 4:</label>
              <input type='text'  ng-model="quizData.question1.choice4.text"/><br>
          </div>

          <div class="form-group">
              <label >Question 2: </label><input type="text" required ng-model="quizData.question2.text"><br>
              <label >Question Worth:</label><input type='number' ng-model="quizData.question2.worth"><br>
              <input type='radio' ng-model="quizData.question2.answer" value="choice1"/>
              <label >Choice 1:</label>
              <input type='text' ng-model="quizData.question2.choice1.text"/><br>
              <input type='radio' ng-model="quizData.question2.answer" value="choice2" />
              <label >Choice 2:</label>
              <input type='text'  ng-model="quizData.question2.choice2.text"/><br>
              <input type='radio' ng-model="quizData.question2.answer" value="choice3" />
              <label >Choice 3:</label>
              <input type='text'  ng-model="quizData.question2.choice3.text"/><br>
              <input type='radio' ng-model="quizData.question2.answer" value="choice4" />
              <label >Choice 4:</label>
              <input type='text'  ng-model="quizData.question2.choice4.text"/><br>
          </div>

          <div class="form-group">
              <label >Question 3: </label><input type="text" required ng-model="quizData.question3.text"><br>
              <label >Question Worth:</label><input type='number' ng-model="quizData.question3.worth"><br>
              <input type='radio' ng-model="quizData.question3.answer" value="choice1"/>
              <label >Choice 1:</label>
              <input type='text' ng-model="quizData.question3.choice1.text"/><br>
              <input type='radio' ng-model="quizData.question3.answer" value="choice2" />
              <label >Choice 2:</label>
              <input type='text'  ng-model="quizData.question3.choice2.text"/><br>
              <input type='radio' ng-model="quizData.question3.answer" value="choice3" />
              <label >Choice 3:</label>
              <input type='text'  ng-model="quizData.question3.choice3.text"/><br>
              <input type='radio' ng-model="quizData.question3.answer" value="choice4" />
              <label >Choice 4:</label>
              <input type='text'  ng-model="quizData.question3.choice4.text"/><br>
          </div>

          <div class="form-group">
              <label >Question 4: </label><input type="text" required ng-model="quizData.question4.text"><br>
              <label >Question Worth:</label><input type='number' ng-model="quizData.question4.worth"><br>
              <input type='radio' ng-model="quizData.question4.answer" value="choice1"/>
              <label >Choice 1:</label>
              <input type='text' ng-model="quizData.question4.choice1.text"/><br>
              <input type='radio' ng-model="quizData.question4.answer" value="choice2" />
              <label >Choice 2:</label>
              <input type='text'  ng-model="quizData.question4.choice2.text"/><br>
              <input type='radio' ng-model="quizData.question4.answer" value="choice3" />
              <label >Choice 3:</label>
              <input type='text'  ng-model="quizData.question4.choice3.text"/><br>
              <input type='radio' ng-model="quizData.question4.answer" value="choice4" />
              <label >Choice 4:</label>
              <input type='text'  ng-model="quizData.question4.choice4.text"/><br>
          </div>

          <div class="form-group">
              <label >Question 5: </label><input type="text" required ng-model="quizData.question5.text"><br>
              <label >Question Worth:</label><input type='number' ng-model="quizData.question5.worth"><br>
              <input type='radio' ng-model="quizData.question5.answer" value="choice1"/>
              <label >Choice 1:</label>
              <input type='text' ng-model="quizData.question5.choice1.text"/><br>
              <input type='radio' ng-model="quizData.question5.answer" value="choice2" />
              <label >Choice 2:</label>
              <input type='text'  ng-model="quizData.question5.choice2.text"/><br>
              <input type='radio' ng-model="quizData.question5.answer" value="choice3" />
              <label >Choice 3:</label>
              <input type='text'  ng-model="quizData.question5.choice3.text"/><br>
              <input type='radio' ng-model="quizData.question5.answer" value="choice4" />
              <label >Choice 4:</label>
              <input type='text'  ng-model="quizData.question5.choice4.text"/><br>
          </div>

      </fieldset>
      <button ng-click="create(quizData)" class="btn btn-primary"> SAVE </button>
  </form>
</div>

