<div class="edit-quiz" id="quizzes-edit">
  <form
    name="edit-form"
    class="form-horizontal"
    autocomplete="on"
    ng-submit="edit(quiz)">
    <fieldset>
      <legend class="page-header">Edit Quiz: {{quiz.quizName}}</legend>

      <div class="form-group">
        <label class="col-sm-2 col-lg-1 control-label">Quiz Name</label>
        <div class="col-sm-10 col-lg-11">
          <input type="text"
            ng-model="quiz.quizName"
            class="form-control"
            placeholder="Quiz Name"
            required>
        </div>
      </div>

	  
      <div class="form-group">
        <label class="col-sm-2 col-lg-1 control-label">Due Day</label>
        <div class="col-sm-10 col-lg-11">
          <input type="date"
            ng-model="quiz.dueDay"
            class="form-control"
            placeholder="Quiz Name"
            required>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <button
            type="submit"
            value="Edit"
            class="btn btn-primary btn-md pull-right">
            <span class="glyphicon glyphicon-edit"></span> Edit
          </button>
        </div>
      </div>	  
	  
    </fieldset>
  </form>
</div>
