<!---
	Created by June Wang
	Last Update on July 7, 2014
-->

<div class="container">

  <article class="content">
  	<h2>List of Quizzes/Worksheets</h2>
  	<div id="createBtns" style="float:right top:fixed">
	  	<a href="/course/{{course.id}}/quizzes/create-quiz" class="quizListOperation" id="addQuiz">Create New Quiz</a>	  	
	</div>

    <div class="main" ng-controller="QuizCtrl" ng-model="quizList">
    <h3>Quiz List</h3>
    <table class="table" style="margin: 2em 0em" id="quizList">
        <thead>
        <tr>
            <th>Name</th>
            <th>Total</th>
            <th>Updated On</th>
            <th>Created On</th>
            <th>Created By</th>
			<th>Due Date</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody ><!-- ng-repeat="quiz in quizlist" -->
        <tr ng-repeat="quiz in quizzes">
            <td class="Quiz_Name"><a href="/quiz/{{quiz.id}}"> {{quiz.quizName}}</a></td>
            <td class="Quiz_Total"> {{quiz.quizWorth}}</td>
            <td class="Quiz_UpdateOn"> {{quiz.updated}}</td>
            <td class="Quiz_CreateOn"> {{quiz.timestamp}}</td>
			<td class="Quiz_CreateBy"> {{quiz.creator}}</td>
            <td class="Quiz_Due"> {{quiz.dueDay}}</td>			
            <td>
				<a href="/course/{{course.id}}/quizzes/edit-quiz/{{quiz.id}}">Edit</a>
                <a href="#" ng-click="remove(quiz.id, $index)">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

  </article>

</div>